<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--TODO: Please enter your own credentials here -->
    <!--TODO: To protect your account, DO NOT commit this file to a public repository, once changed -->
    <add key="GitHubToken" value="" />
    <add key="GitHubUserName" value="" />
    <add key="GitHubRepoName" value="" />
  </appSettings>
</configuration>