<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="azure dev source" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/mldotnet/nuget/v3/index.json" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="pre release" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/MachineLearning@Prerelease/nuget/v3/index.json" />
    <add key="release" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/MachineLearning@Release/nuget/v3/index.json" />
    <add key="MLNETPrivateSource" value="https://devdiv.pkgs.visualstudio.com/_packaging/MachineLearning/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="azure dev source" value="true" />
    <add key="pre release" value="true" />
    <add key="release" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <MLNETPrivateSource>
      <add key="Username" value="frank-pat-nuget-builds" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAT/m+0G0Gi0islgGwlpek9wAAAAACAAAAAAADZgAAwAAAABAAAAB9ycMP398yIx3fiPtn7IWpAAAAAASAAACgAAAAEAAAAKdZgJ738JocD0W3Gryh/3s4AAAAqANU3lN3gWEKvyMKgKjHP9rcJ/Jt6FexhJzPjKp8hRhKu0l3iGtZDRVvLbvgr3W1AfeTFVlF3bAUAAAAshlqfLjyHeo9JpAmw9IfobS2raw=" />
    </MLNETPrivateSource>
  </packageSourceCredentials>
</configuration>
